.carousel {
    margin-bottom: 50px;
    position: relative;
}

.carouselTitle {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
}

.arrow {
    font-size: 30px;
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: none;
}

@media (min-width: 768px) {
    .arrow {
        display: block;
    }
}

.arrow:hover {
    opacity: 0.8;
}

.carousel .carouselLeftNav {
    left: 8%;
}

.carousel .carouselRighttNav {
    right: 8%;
}

.loadingSkeleton,
.carouselItems {
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
}

@media (min-width: 768px) {

    .loadingSkeleton,
    .carouselItems {
        gap: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
}

.skeletonItem,
.carouselItem {
    width: 125px;
    flex-shrink: 0;
}

@media (min-width: 768px) {

    .skeletonItem,
    .carouselItem {
        width: calc(25% - 15px);
    }
}

@media (min-width: 992px) {

    .skeletonItem,
    .carouselItem {
        width: calc(20% - 16px);
    }
}

.skeletonItem .posterBlock,
.carouselItem .posterBlock {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    margin-bottom: 30px;
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.skeletonItem .title,
.textBlock .title {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.skeletonItem .date,
.textBlock .date {
    width: 75%;
    height: 20px;
}

.posterBlock {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
}

.circleRating {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    background-color: white;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .circleRating {
        width: 50px;
        height: 50px;
    }
}

.genres {
    display: none;
    position: relative;
}

@media (min-width: 768px) {
    .genres {
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
    }
}

.textBlock .title {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .textBlock .title {
        font-size: 20px;
    }
}

.textBlock .date {
    font-size: 14px;
    opacity: 0.5;
}